@import 'tailwindcss';

@font-face {
  font-family: 'JetBrains-Regular';
  src: url('/fonts/JetBrainsMono-Regular.ttf');
}

* {
  font-family: 'JetBrains-Regular';
  scroll-behavior: smooth;
  scrollbar-width: none;
}

*::selection {
  background-color: none;
}
